.sd-card {
    background-color: #404040 !important;
    border-radius: 0.5rem !important;
    box-shadow: 0.1rem 0.1rem 7px 1px #606060 !important;
}

.sd-card-header.header-2 {
    font-size: 180% !important;
    border-radius: 0.5rem !important;
    background-color: #505050 !important;
}

.sd-card-header.header-2-light {
    font-weight: bold;
    font-size: 140% !important;
    border-radius: 0.5rem !important;
    background-color: #505050 !important;
}

.sd-card-header.header-3 {
    font-size: 150% !important;
    background-color: #606060 !important;
    border-radius: 0.5rem !important;
}

.sd-card-header.header-3-light {
    font-weight: bold;
    background-color: #606060 !important;
    border-radius: 0.5rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.sd-card-3 {
    background-color: #505050 !important;
    border-radius: 0.5rem !important;
    box-shadow: none !important;
    box-shadow: 0.1rem 0.1rem 3px 1px #656565 !important;
}

body {
    background-color: #202020 !important;
}

.body {
    background-color: #303030 !important;
}

.hidden h2 {
    display: none;
}

.hidden-index-page h1, .hidden-index-page h2 {
    display: none;
}

.sphinxsidebar h3 {
    background-color: #303030 !important;
    border: 1px solid #303030 !important;
    border-radius: 5px 0 0 5px !important;
    padding-left: 1rem !important;
}

.table-2 tr:first-child th {
    background-color: #606060 !important;
}

.table-2 tr td:first-child {
    background-color: #606060;
}

.table-2 tr:hover td {
    background-color: #303030;
}

.table-2 {
    background-color: #505050 !important;
    box-shadow: none !important;
    box-shadow: 0.1rem 0.1rem 3px 1px #656565 !important;
}

table {
    border: none !important;
    border-radius: 0.5rem !important;
    border-collapse: collapse;
}

tr {
    border: none;
}

table tr:first-child th {
    border-top: none !important;
}
table tr td:last-child, table tr th:last-child {
    border-right: none !important;
}
table tr td:first-child, table tr th:first-child {
    border-left: none !important;
}
table tr:last-child td {
    border-bottom: none !important;
}

table tr:first-child th:first-child {
    border-top-left-radius: 0.5rem !important;
}
table tr:first-child th:last-child {
    border-top-right-radius: 0.5rem !important;
}

table tr:last-child td:first-child {
    border-bottom-left-radius: 0.5rem !important;
}
table tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem !important;
}

.category-p {
    font-size: 90%;
}

.table-mission-info table {
    border: none !important;
    border-radius: 0.5rem !important;
    border-collapse: collapse;
    box-shadow: none !important;
    box-shadow: 0.1rem 0.1rem 3px 1px #656565 !important;
}

.table-mission-info tr {
    border: none;
}

.table-mission-info table tr:first-child th {
    border-top: none !important;
}
.table-mission-info table tr td:last-child, .table-mission-info table tr th:last-child {
    border-right: none !important;
}
.table-mission-info table tr td:first-child, .table-mission-info table tr th:first-child {
    border-left: none !important;
}
.table-mission-info table tr:last-child td {
    border-bottom: none !important;
}

.table-mission-info table tr:first-child th:first-child {
    border-top-left-radius: 0.5rem !important;
}
.table-mission-info table tr:first-child th:last-child {
    border-top-right-radius: 0.5rem !important;
}

.table-mission-info table tr:last-child td:first-child {
    border-bottom-left-radius: initial !important;
}
.table-mission-info table tr:last-child td:last-child {
    border-bottom-right-radius: 0.5rem !important;
}

.table-mission-info tr:hover td:last-child,
.table-mission-info tr:hover td:nth-last-child(2),
.table-mission-info tr:hover td:nth-last-child(3),
.table-mission-info tr:hover td:nth-last-child(4),
.table-mission-info tr:hover td:nth-last-child(5),
.table-mission-info tr:hover td:nth-last-child(6),
.table-mission-info tr:hover td:nth-last-child(7),
.table-mission-info tr:hover td:nth-last-child(8) {
    background-color: #303030;
}

.table-mission-info tr td:last-child,
.table-mission-info tr td:nth-last-child(2),
.table-mission-info tr td:nth-last-child(3),
.table-mission-info tr td:nth-last-child(4),
.table-mission-info tr td:nth-last-child(5),
.table-mission-info tr td:nth-last-child(6),
.table-mission-info tr td:nth-last-child(7),
.table-mission-info tr td:nth-last-child(8) {
    background-color: #505050;
}

.table-mission-info tr td:nth-last-child(9),
.table-mission-info tr td:nth-last-child(10) {
    background-color: #606060;

}

.table-mission-info tr:first-child th {
    background-color: #606060;
}

.table-mission-info tr:nth-last-child(2) td:nth-last-child(10) {
    border-bottom: none !important;
    border-bottom-left-radius: 0.5rem !important;
}

.table-mission-info tr:nth-last-child(2) td:nth-last-child(9) {
    border-bottom: none !important;
}

.code-block-2 pre {
    border-radius: 0.5rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: inset 0.1rem 0.1rem 7px 1px #606060 !important;
}

div.bodywrapper {
    margin: 0 0 0 15rem !important;
}

div.sphinxsidebar {
    width: 15rem !important;
    margin-left: initial !important;
}

.sd-card-important {
    box-shadow: 0.1rem 0.1rem 7px 1px #f74343 !important;
}

div.documentwrapper {
    float: initial !important;
}

div.footer {
    width: auto !important;
    text-align: center !important;
}

@media only screen and (max-width: 600px) {
    div.sphinxsidebar {
        width: 100% !important;
        margin-left: initial !important;
        margin-bottom: 1rem !important;
        display: block !important;
        float: initial !important;
        border-radius: 5px;
        background-color: #333 !important;
    }
    div.bodywrapper {
        margin-left: 0rem !important;
    }
    div.footer {
        width: auto;
        margin: 20px auto 30px auto;
        font-size: 14px;
        color: #888;
        text-align: center;
    }
    div.document {
        margin: 1rem auto 0 auto;
    }

    div.sphinxsidebar h3 a {
        color: #FFCC00 !important;
    }
}

@media only screen and (max-device-width: 480px ) {
    div.related {
        display: none !important;
        margin: 0;
        padding: 10px 0 20px 0;
    }

    div.sphinxsidebar p.logo {
        display: block !important;
    }

    div.sphinxsidebar {
        margin: 1rem 0px 1rem 0px !important;
        border-radius: 5px;
        float: none;
        padding: 10px !important;
        width: 98% !important;
    }

    div.sphinxsidebar a {
        color: #FFCC00 !important;
    }

    div.documentwrapper {
        width: 102.5% !important;
        margin: 1rem 0px 1rem 0px !important;
        border-radius: 5px;
    }

    div.body {
        min-width: initial !important;
    }
}

.sd-card-text code, .line-block code {
    padding: 0.3rem;
    background-color: #2b2b2b;
    border-radius: 0.5rem !important;
}

.code-paragraph .sd-card-text, .code-paragraph .line, .code-paragraph-direct, .code-paragraph li  {
    line-height: 2rem !important;
}

.code-paragraph-2 {
    line-height: 2rem !important;
}

.code-block-3 pre {
    border-radius: 0.5rem !important;
    padding-top: 1rem;
    padding-bottom: 1rem;
    box-shadow: inset 0.1rem 0.1rem 3px 1px #656565 !important;
}

.code-block-3 .highlight, .code-block-2 .highlight {
    border-radius: 0.5rem !important;
}

.mono-space code {
    padding: 0rem !important;
    background-color: initial !important;
}

.table-map-overview {
    width: 100%;
    text-align: center;
}

.table-map-overview tr th, .table-map-overview tr td {
    padding: 1rem;
    text-align: center;
}

.table-2-b tr:first-child th {
    background-color: #707070 !important;
}

.table-2-b tr:hover td {
    background-color: #505050;
}

.table-2-b {
    background-color: #606060 !important;
    box-shadow: none !important;
    box-shadow: 0.1rem 0.1rem 3px 1px #757575 !important;
}

.sd-card-4 {
    background-color: #606060 !important;
    border-radius: 0.5rem !important;
    box-shadow: none !important;
    box-shadow: 0.1rem 0.1rem 3px 1px #757575 !important;
}

.sd-card-4-important {
    background-color: #606060 !important;
    border-radius: 0.5rem !important;
    box-shadow: none !important;
    box-shadow: 0.1rem 0.1rem 3px 1px #f74343 !important;
}

.sd-card-header.header-4 {
    font-size: 150% !important;
    background-color: #707070 !important;
    border-radius: 0.5rem !important;
}

.sd-card-header.header-4-light {
    font-weight: bold;
    background-color: #707070 !important;
    border-radius: 0.5rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.sd-card-warning {
    box-shadow: 0.1rem 0.1rem 7px 1px #ffc107 !important;
}

.small-text {
    font-size: small;
    font-style: italic;
}

.table-additional-mods {
    border: none !important;
    table-layout: unset !important;
}

.table-additional-mods tr td, .table-additional-mods tr {
    border-left: none !important;
    border-right: none !important;
    border-top: none !important;
}

.table-additional-mods tr:last-child td, .table-additional-mods tr:last-child {
    border-bottom: none !important;
}

.header-3-danger {
    background-color: rgba(247, 67, 67, 0.75) !important;
    font-weight: bold;
    border-radius: 0.5rem !important;
    padding-top: 0.75rem !important;
    padding-bottom: 0.75rem !important;
}

.sd-card-3-danger {
    background-color: #505050 !important;
    border-radius: 0.5rem !important;
    box-shadow: none !important;
    box-shadow: 0.1rem 0.1rem 3px 1px #f74343 !important;
}

section div.admonition, section div.admonition::after {
    clear: none;
}

