.sd-card {
    background-color: #505050 !important;
    border-radius: 0.5rem !important;
}

.sd-card-header.header-2 {
    font-size: 180% !important;
    background-color: #606060 !important;
}
.sd-card-header.header-3 {
    font-size: 150% !important;
    background-color: #707070 !important;
    border-radius: 0.5rem !important;
}

.sd-card-header.header-3-light {
    font-weight: bold;
    background-color: #707070 !important;
    border-radius: 0.5rem !important;
}

.sd-card-3 {
    background-color: #606060 !important;
}

body {
    background-color: #202020 !important;
}

.body {
    background-color: #303030 !important;
}

.hidden h2 {
    display: none;
}